.nicknameSelect {
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 18px;
}

.chatSite {
  margin: auto;
  width: 50%;
}

.chatBoard {
  overflow-y: scroll;
  scroll-behavior: auto;
  height: 400px;
  max-height: 400px;
  word-break: break-word;
  width: 80%;
  display: inline-block;
}

.userList {
  overflow-y: scroll;
  scroll-behavior: auto;
  height: 400px;
  max-height: 400px;
  word-break: break-word;
  width: 20%;
  display: inline-block;
}
